---
logLevel: "INFO"
logFile: null

openRegister: false
userDefaultQuota: 200000

databasePrefix: opencga
dataDir: /opt/opencga/sessions
tempJobsDir: /opt/opencga/sessions/jobs
toolDir: "tools"

admin:
  password: "{{ opencga_tomcat_admin_password }}"
  email: "admin@opencb.org"

audit:
  maxDocuments: 20000000 # Maximum number of documents that will be created in the audit collection.
  maxSize: 100000000000  # Maximum size that the audit collection will have in bytes.
  javaClass: ""          # Java class of the audit implementation to be used to audit.
  exclude: []            # Array of resource:action to select pairwise resource-actions to be excluded for audit purposes.

monitor:
  daysToRemove: 30
  executionDaemonInterval: 4000 # number of milliseconds between checks
  fileDaemonInterval: 8000      # number of milliseconds between checks
  port: 9092

execution:
  mode: LOCAL
  defaultQueue: ""
  availableQueues: ""
  toolsPerQueue: {}

email:
  host: 
  port: 
  user: 
  password:
  from: ""
  ssl: false

catalog:
  # offset: Starting point for the catalog internal ids. Use a big offset number (1000000 for instance) if you plan to use numerical ids
  #         for names or aliases of any entity.
  offset: 0
  database:
    hosts:
    - mongo-{{ opencga_tomcat_mongo_catalog_suffix }}:27017
    user: 
    password: 
    options:
      authenticationDatabase: 
      connectionsPerHost: 20

authentication:
  # Session expiration time in seconds
  expiration: 1800
# LDAP configuration example
  #authenticationOrigins:
  #- id: ldap            # Any id
  #  type: LDAP          # At the moment, we only support LDAP
  #  host: ldap://localhost:9000
  #  options:
  #    usersSearch: dc=ge,dc=co,dc=uk # Base search to look for the users
  #    groupsSearch: ou=general,ou=groups,dc=ge,dc=co,dc=uk # Base search to look for the groups

server:
  rest:
    port: 9090
    logFile: null
    defaultLimit: 2000
    maxLimit: 5000

  grpc:
    port: 9091
    logFile: null
